<section id="section-aboutUs" class="aboutUs__background">
	<div class="aboutUs">
		<div class="container">
			<div class="card aboutUs__card">
				<div class="card-body div-parag1-programa">
				<p class="parag1-programa">O Programa Empreendedoras Digitais promove o protagonismo feminino através do desenvolvimento de empresas de base tecnológica com presença de mulheres, seja na sua fundação e/ou em cargos de liderança.</p>
				</div>
			</div>

			<div class="card card--prog aboutUs__card">
				<div class="card-body div-parag2-programa">
                    <p class="parag2-programa">
                        Com ações de mobilização, educação e investimento, mulheres de todo o Brasil poderão impulsionar seus negócios e receber ao final uma premiação.
                    </p>
                </div>
			</div>
			
			<div class="sectionBunner__contactButton">
					<a class="btn btn-success sectionBunner__contactButton--color" href="https://pt.surveymonkey.com/r/728RMKM" target="_blank" role="button">TENHO INTERESSE</a>
			</div>
       
		</div>
	</div>
</section>