<section id="section-navbar">
		<nav class="fixed-top navbar navbar-expand-lg container-fluid bg-white barra" id="nav">
			<div class="container navbar-light">

				<a class="navbar-brand h2 mb-0" href="#">
					<%= image_tag("logo1.png", size: "150x55", :alt => "Imagem Logo") -%>
				</a>

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSite" aria-controls="navbarSite" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSite">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class="nav-link nav-link--fonte" href="#section-aboutUs">O Programa</a>
						</li>
						<li class="nav-item">
							<a class="nav-link nav-link--fonte" href="#como">Como Funciona</a>
						</li>
						<li class="nav-item">
							<a class="nav-link nav-link--fonte" href="#section-team">Cadastro</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
</section>