<section id="como" class="services__background">
    <div  id="section-services">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="">
                        <div class="col-sm-6 offset-sm-3 div-parag1-como">
                            <span class="parag1-como"> COMO </span> 
                        </div>
                        <div class="col-sm-6 offset-sm-3">
                            <span class="parag2-como">FUNCIONA</span> 
                        </div>

                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="col-sm-6 offset-sm-3">
                        <%= image_tag 'mulheres3.png', class: "services__images mulheres3" %>
                    </div>
                </div>
                <div class="col-sm-8 offset-sm-2">
                    <%= image_tag 'infografico2.png', class: "services__images infografico" %>
                </div>
            </div>
        </div>
    </div>
</section>