<section id="section-team">
    <div class="team">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 team__h1">
                    <span>
                        FAÇA PARTE DO
                    </span>
                </div>
                <div class="col-sm-12 team__h2">
                    <span>
                        PROGRAMA
                    </span>
                </div>
            </div>
            <p class="parag2-cadastro">
                Você, mulher, faça seu cadastro no Empreendedoras Digitais e participe das ações de capacitação, mentoria e investimento!
            </p>
            <div class="sectionTeam__contactButton">
                <a class="btn btn-success sectionTeam__contactButton--color" href="https://pt.surveymonkey.com/r/empreendedorasdigitais" target="_blank" role="button">QUERO SABER MAIS</a>
            </div>
        </div>
    </div>
</section>