/* CSS DO BUNNER */

.sectionBunner__bunner {
  position: relative;
  background-image: url(home1.png);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sectionBunner__titleContainer {
  color: white;
  padding-top: 8%;
  text-align: center;
  font-size: 5em;
}

.icon_hover { display: none };
.icon_not_hover { display: inline};

.icon:hover .icon_hover { display: inline };
.icon:hover .icon_not_hover { display: none };

.imagem-redes-home {
  position: absolute;
  bottom: 11%;
  right: 1%;
}

.sectionBunner__contactButton {
  font-size: 0.6em;
}

/********************************************** RESPONSIVE ****************************************************/

@media #{$small-down} {
  .sectionBunner__titleContainer {
    font-size: 7em;
  }

  .imagem-redes-home {
    position: absolute;
    bottom: 11%;
    right: 22%;
  }
}

@media #{$medium-down} {
  .sectionBunner__titleContainer {
    font-size: 2.5em;
  }
}
