.footer__p--container {
  height: 3em;
  display: block;
}

.footer__p {
  margin: 0.5em;
  text-align: center;
  color: #0c5e74;
  font-size: 28px;
}

.footer__linha {
  background-color: #692a66;
  height: 4px;
}

.logos-footer {
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.tamanho-logo-footer {
  width: 100%;
}

.div-logo2 {
  width: 12%
}

.div-logo3 {
  width: 15%
}

.div-logo4 {
  width: 12%
}

.div-logo5 {
  width: 10%
}

.div-logo6 {
  width: 12%
}

.div-logo7 {
  width: 12%
}

.div-fb-brasil {
  width: 14%
}

.container-logos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.finep {
  margin-left: 2%;
}

/********************************************** RESPONSIVE ****************************************************/

@media #{$small-down} {
  .footer__p--container {
    height: 2em;
  }

  .footer__p {
    margin: 0.5em;
    font-size: 14px;
  }

  .div-logo2 {
    width: 15%
  }

  .div-logo3 {
    width: 16%
  }

  .div-logo4 {
    width: 15%
  }

  .div-logo5 {
    width: 12%
  }

  .div-logo6 {
    width: 15%
  }

  .div-logo7 {
    width: 15%
  }

  .div-fb-brasil {
  width: 14%
}

  .tamanho-logo-footer {
    width: 100%;
  }
}

