.team {
  color: white;
  //margin-bottom: 2.5em;
  padding-top: 2.5em;
  padding-bottom: 1.5em;
}

.team__h1 {
  text-align: center;
  color: #0c5e74;
  font-size: 5em;

}

.team__h2 {
  text-align: center;
  color: #0c5e74;
  font-size: 7em;
  line-height: 110px;

}

.team__flexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.team__title {
  text-align: center;
  color: white;
  margin-bottom: 0em;
  margin-top: 0.5em;
}

.team__position {
  text-align: center;
  color: white;
  font-size: 0.8em;
  margin-bottom: 1em;
}

.team__iconContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.team__iconLink {
  display: block;
  width: 15%;
  margin: 0.5em;
}

@media (max-width: 576px) {
  .team__h1 {
    font-size: 1.8em;
  }

  .team__h2 {
    font-size: 2.4em;
    line-height: 50px;
  }
}

.parag2-cadastro {
  text-align: center;
  font-size: 40px;
  line-height: 60px;
  margin: 1em;
  color: #692a66;
}

.sectionTeam__contactButton {
  text-align: center;
  margin-bottom: 8%;
}

.sectionTeam__contactButton--color {
  background-color: #0c5e74 !important;
  border-color: #0c5e74 !important;
  color: white;
  font-size: 50px;
}

@media (max-width: 576px) {
  .sectionTeam__contactButton {
    text-align: center;
    margin-bottom: 5%;
  }

.sectionTeam__contactButton--color {
    font-size: 20px;
  }

  .parag2-cadastro {
    font-size: 1.4em;
    line-height: 30px;
    margin: 1em;
  }
}